{% extends 'base.html' %}
{% load static %}
{% block content %}
    <!-- Inner Banner -->
    <div class="inner-banner">
        <div class="container-fluid">
            <div class="row align-items-center">
                <div class="col-lg-7 col-md-7">
                    <div class="inner-title">
                        <h3> Gallery</h3>
                        <ul>
                            <li>
                                <a href="../index.html">Home</a>
                            </li>
                            <li> Gallery </li>
                        </ul>
                    </div>
                </div>

                <div class="col-lg-5 col-md-5">
                    <div class="inner-img">
                        <img src="{% static 'images/inner-banner/inner-banner1.png' %}" alt="Inner Banner"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Inner Banner End -->

    <!-- Gallery Area -->
    <div class="gallery-area pt-100">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="gallery-content">
                        <div class="title">
                            <h2>Follow Us On Instagram</h2>
                        </div>
                        {% for image in recent_pics %}
                            {% if image.id == 1 %}
                                <div class="gallery-all-img">
                                    <div class="img">
                                        <img src="{{ image.imageURL }}" alt="Gallery" width="550" height="300"/>
                                        <div class="follow-btn-area">
                                            <a href="https://www.instagram.com/?hl=en" target="_blank"
                                               class="follow-btn">
                                                <i class="ri-instagram-line"></i>
                                            </a>
                                        </div>
                                    </div>
                                    {% elif image.id == 2 %}
                                    <div class="img2">
                                        <img src="{{ image.imageURL }}" alt="Gallery" width="300" height="150"/>
                                    </div>
                                    {% elif image.id == 3 %}
                                    <div class="img3">
                                        <img src="{{ image.imageURL }}" alt="Gallery" width="300" height="200"/>
                                    </div>
                                    <div class="vector-img">
                                        <img src="{% static 'images/gallery/vector-img2.png' %}" alt="Gallery"/>
                                    </div>
                                </div>
                                </div>
                                </div>

                                <div class="col-lg-6">
                                <div class="gallery-all-img-two">
                            {% elif image.id == 4 %}
                                <div class="img">
                                    <img src="{{ image.imageURL }}" alt="Gallery" width="550" height="300"/>
                                    <div class="follow-btn-area">
                                        <a href="https://www.instagram.com/?hl=en" target="_blank" class="follow-btn">
                                            <i class="ri-instagram-line"></i>
                                        </a>
                                    </div>
                                </div>
                            {% elif image.id == 5 %}
                                <div class="img2">
                                    <img src="{{ image.imageURL }}" alt="Gallery" width="300" height="200"/>
                                </div>
                            {% elif image.id == 6 %}
                                <div class="img3">
                                    <img src="{{ image.imageURL }}" alt="Gallery" width="300" height="200"/>
                                </div>
                            {% endif %}
                        {% endfor %}
                        <div class="vector-img">
                            <img src="{% static 'images/gallery/vector-img.png' %}" alt="Gallery" width="300" height="200"/>
                        </div>
                        </div>
                        </div>
            </div>
        </div>
    </div>
    <!-- Gallery Area End -->

{% endblock %}