{% extends 'base.html' %}
{% load static %}
{% block content %}

    <!-- Inner Banner -->
    <div class="inner-banner">
        <div class="container-fluid">
            <div class="row align-items-center">
                <div class="col-lg-7 col-md-7">
                    <div class="inner-title">
                        <h3>Welcome to our blog</h3>
                        <ul>
                            <li>
                                <a href="{% url 'home' %}">Home</a>
                            </li>
                            <li>Blog</li>
                        </ul>
                    </div>
                </div>

                <div class="col-lg-5 col-md-5">
                    <div class="inner-img">
                        <img src="{% static 'images/inner-banner/inner-banner6.png' %}" alt="Inner Banner"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Inner Banner End -->

    <!-- Blog Page Area -->
    <div class="blog-page-area pt-100 pb-70">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="side-bar-area pr-20">
                        <div class="search-widget">
                            <form class="search-form">
                                <input type="search" class="form-control" placeholder="Search By Keywords">
                                <button type="submit">
                                    <i class="flaticon-search"></i>
                                </button>
                            </form>
                        </div>
                        <div class="side-bar-widget">
                            <h3 class="title">Popular Categories</h3>
                            <div class="side-bar-categories">
                                <ul>
                                    <li>
                                        <a href="categories.html" target="_blank">
                                            <i class="ri-arrow-right-s-line"></i>
                                            Massage Therapy <span>(18)</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="categories.html" target="_blank">
                                            <i class="ri-arrow-right-s-line"></i>
                                            Aroma Therapy <span>(35)</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="categories.html" target="_blank">
                                            <i class="ri-arrow-right-s-line"></i>
                                            Oil Therapy <span>(54)</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="categories.html" target="_blank">
                                            <i class="ri-arrow-right-s-line"></i>
                                            Salt Therapy <span>(25)</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="categories.html" target="_blank">
                                            <i class="ri-arrow-right-s-line"></i>
                                            Revive with Rose <span>(18)</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="categories.html" target="_blank">
                                            <i class="ri-arrow-right-s-line"></i>
                                            Organic Therapy <span>(45)</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="side-bar-widget">
                            <h3 class="title">Recent Post</h3>
                            <div class="widget-popular-post">
                                <article class="item">
                                    <a href="blog-details.html" class="thumb">
                                        <span class="full-image cover bg1" role="img"></span>
                                    </a>
                                    <div class="info">
                                        <p>Jan 12, 2021</p>
                                        <h4 class="title-text">
                                            <a href="blog-details.html">
                                                Happy Hands Nail Polish And Exclusive Collection
                                            </a>
                                        </h4>
                                    </div>
                                </article>

                                <article class="item">
                                    <a href="blog-details.html" class="thumb">
                                        <span class="full-image cover bg2" role="img"></span>
                                    </a>
                                    <div class="info">
                                        <p>Jan 14, 2022</p>
                                        <h4 class="title-text">
                                            <a href="blog-details.html">
                                                Why You Should Use Non-Toxic Nail Polish
                                            </a>
                                        </h4>
                                    </div>
                                </article>

                                <article class="item">
                                    <a href="blog-details.html" class="thumb">
                                        <span class="full-image cover bg3" role="img"></span>
                                    </a>
                                    <div class="info">
                                        <p>Jan 17, 2022</p>
                                        <h4 class="title-text">
                                            <a href="blog-details.html">
                                                How To Nourish And Protect Your Nails
                                            </a>
                                        </h4>
                                    </div>
                                </article>
                            </div>
                        </div>
                        <div class="side-bar-widget">
                            <h3 class="title">Popular Tags</h3>
                            <ul class="side-bar-widget-tag">
                                <li><a href="tags.html" target="_blank">Massage </a></li>
                                <li><a href="tags.html" target="_blank">Sauna</a></li>
                                <li><a href="tags.html" target="_blank">Therapy</a></li>
                                <li><a href="tags.html" target="_blank">Rellax</a></li>
                                <li><a href="tags.html" target="_blank">Hot Stone</a></li>
                                <li><a href="tags.html" target="_blank">Red Nail</a></li>
                                <li><a href="tags.html" target="_blank">Spa</a></li>
                                <li><a href="tags.html" target="_blank">Curly Hair</a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-lg-8">
                    {% for post in object_list %}
                        <div class="row justify-content-center">
                        <div class="col-lg-6 col-md-6">
                            <div class="blog-card box-shadow">
                                {% if post.image %}
                                    <a href="{% url 'post_details' post.id post.slug %}" class="img">
                                        <img src="{{ post.image.url }}" alt="Blog"/>
                                    </a>
                                {% endif %}
                                <div class="content">
                                    <ul>
                                        <li>
                                            <i class="flaticon-user"></i>
                                            <a href="author.html">{{ post.author }}</a>
                                        </li>
                                        <li>
                                            <i class="flaticon-clock"></i>
                                            {{ post.created_on | date }}
                                        </li>
                                    </ul>
                                    <h3><a href="{% url 'post_details' post.id post.slug %}">{{ post.title}}</a></h3>
                                    <a href="{% url 'post_details' post.id post.slug %}" class="default-btn two border-radius-5">Read More <i
                                            class="flaticon-arrow-pointing-to-right"></i></a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    <div class="col-lg-12 col-md-12 text-center">
                         <div class="pagination-area">
                {% if paginator.page.has_previous %}
                    <a href="{% url 'blog' %}?page={{ paginator.page.previous_page_number }}"
                       class="prev page-numbers">
                        <i class="flaticon-arrow-pointing-to-left"></i>
                    </a>
                {% endif %}
                {% for i in paginator %}
                    {% if i.number == page_obj.number %}
                        <span class="page-numbers current"
                              aria-current="page">{{ i.number }}</span>
                    {% else %}
                        <a href="{% url 'blog_home' %}?page={{ i.number }}" class="page-numbers">{{ i.number }}</a>
                    {% endif %}
                {% endfor %}

                {% if paginator.page.has_next %}
                    <a href="{% url 'blog' %}?page={{ paginator.page.next_page_number }}"
                       class="next page-numbers">
                        <i class="flaticon-arrow-pointing-to-right"></i>
                    </a>
                {% endif %}
            </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Blog Page Area End -->
{% endblock %}