{% extends 'base.html' %}
{% load static %}
{% block content %}

        <!-- Inner Banner -->
        <div class="inner-banner">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-lg-7 col-md-7">
                        <div class="inner-title">
                            <h3>Search Results</h3>
                            <ul>
                                <li>
                                    <a href="{% url 'blog_home' %}">Blog</a>
                                </li>
                                <li>Search Results</li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-lg-5 col-md-5">
                        <div class="inner-img">
                            <img src="{% static 'images/inner-banner/inner-banner2.png' %}" alt="Inner Banner" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Inner Banner End -->

        <!-- Blog Area -->
        <div class="blog-area pt-100 pb-70">
            <div class="container">
                <div class="categories-title">
                    <h3>Tags: <span>{{ query }}</span></h3>
                </div>
                <div class="row justify-content-center">
                    {% for post in posts %}
                    <div class="col-lg-4 col-md-6">
                        <div class="blog-card box-shadow">
                            <a href="{% url 'post_details' post.id post.slug %}" class="img">
                                <img src="{{ post.imageURL}}" alt="Blog" />
                            </a>
                            <div class="content">
                                <ul>

                                    <li>
                                        <i class="flaticon-clock"></i>
                                        {{ post.created_on | date}}
                                    </li>
                                </ul>
                                <h3><a href="{% url 'post_details' post.id post.slug %}">{{ post.title }}</a></h3>
                                <a href="{% url 'post_details' post.id post.slug %}" class="default-btn two border-radius-5">Read More <i class="flaticon-arrow-pointing-to-right"></i></a>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <!-- Blog Area End -->
{% endblock %}