{% extends 'base.html' %}
{% load static %}
{% block content %}
        <!-- Inner Banner -->
        <div class="inner-banner">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-lg-7 col-md-7">
                        <div class="inner-title">
                            <h3>Shop Details</h3>
                            <ul>
                                <li>
                                    <a href="{% url 'home' %}">Home</a>
                                </li>
                                <li>Shop Details</li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-lg-5 col-md-5">
                        <div class="inner-img">
                            <img src="{% static "images/inner-banner/inner-banner7.png" %}" alt="Inner Banner" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Inner Banner End -->

        <!-- Product Details Area -->
        <div class="product-details-area pt-100 pb-70">
            <div class="container">
                <div class="product-details-desc">
                    <div class="row align-items-center">
                        <div class="col-lg-6 col-md-12">
                            <div class="products-quickView-image">
                                <img src="{{ item.picture.url }}" alt="Product Details">
                            </div>
                        </div>

                        <div class="col-lg-6 col-md-12">
                            <div class="product-desc mb-30 pl-20">
                                <h3>{{ item.name }} </h3>
                                <div class="price">
                                    <span class="new-price">${{ item.price }} </span>
                                </div>
                                <div class="product-review">
                                    <div class="rating">
                                        <i class="ri-star-fill"></i>
                                        <i class="ri-star-fill"></i>
                                        <i class="ri-star-fill"></i>
                                        <i class="ri-star-line"></i>
                                        <i class="ri-star-line"></i>
                                    </div>
                                    <div class="rating-count">255 Reviews</div>
                                </div>
                                <p>
                                    {{ item.description }}
                                </p>
                                <ul class="product-category-list">
                                    <li>Tags: <span>Nail, Lover</span> </li>
                                </ul>
                                <div class="input-counter-area">
                                    <h4>Quantity</h4>
                                    <div class="input-counter">
                                        <span class="minus-btn"><i class="ri-subtract-line"></i></span>
                                        <input type="text" value="1">
                                        <span class="plus-btn"><i class="ri-add-fill"></i></span>
                                    </div>
                                </div>
                                
                                <div class="product-add-btn">
                                    <a href="{% url 'add-to-cart' item.id %}" type="submit" class="default-btn border-radius-5">
                                        Add To Cart <i class="flaticon-shopping-cart-empty-side-view"></i>
                                    </a>
                                    <ul class="products-action">
                                        <li><a href="compare.html"> <i class="ri-arrow-left-right-line"></i></a></li>
                                        <li><a href="wishlist.html"><i class="ri-heart-line"></i></a></li>
                                    </ul>
                                </div>
                                <div class="product-share">
                                    <ul>
                                        <li>
                                            <span>Share:</span>
                                        </li>
                                        <li>
                                            <a href="https://twitter.com/" target="_blank">
                                                <i class="ri-twitter-fill"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://www.linkedin.com/" target="_blank">
                                                <i class="ri-linkedin-fill"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://www.facebook.com/" target="_blank">
                                                <i class="ri-facebook-fill"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://vimeo.com/" target="_blank">
                                                <i class="ri-vimeo-fill"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Product Details Area End -->

{#        <!-- Shop Details Tab Area -->#}
{#        <div class="shop-details-tab-area section-bg pt-100 pb-70">#}
{#            <div class="container">#}
{#                <div class="tab shop-detls-tab">#}
{#                    <div class="row">#}
{#                        <div class="col-lg-12">#}
{#                            <ul class="tabs text-center">#}
{#                                <li>#}
{#                                    Description#}
{#                                </li>#}
{#                                #}
{#                                <li>#}
{#                                    Additional information#}
{#                                </li>#}
{#    #}
{#                                <li>#}
{#                                    Reviews <span> (01) </span>#}
{#                                </li>#}
{#                            </ul>#}
{#                        </div>#}
{##}
{#                        <div class="col-lg-12 col-md-12">#}
{#                            <div class="tab_content current active">#}
{#                                <div class="tabs_item current">#}
{#                                    <div class="shop-detls-tab-content">#}
{#                                        <div class="shop-detls-into">#}
{#                                            <p>#}
{#                                                Voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab ilinventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam vol tatem qvoluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolor ratione voluptatem sequi nesciunt. Neque porro quisquam #}
{#                                            </p>#}
{#                                            <p>#}
{#                                                Voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab ilinventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam tatem quia voluptas sit aspernatur aut odit aut#}
{#                                            </p>#}
{#                                        </div>#}
{#                                    </div>#}
{#                                </div>#}
{##}
{#                                <div class="tabs_item">#}
{#                                    <div class="shop-detls-tab-content">#}
{#                                        <div class="shop-detls-into">#}
{#                                            <ul class="additional-information">#}
{#                                                <li><span>Brand:</span> ThemeForest</li>#}
{#                                                <li><span>Color:</span> Brown</li>#}
{#                                                <li><span>Size:</span> Large, Medium</li>#}
{#                                                <li><span>Weight:</span> 27 kg</li>#}
{#                                                <li><span>Dimensions:</span> 16 x 22 x 123 cm</li>#}
{#                                            </ul>#}
{#                                        </div>#}
{#                                    </div>#}
{#                                </div>#}
{##}
{#                                <div class="tabs_item">#}
{#                                    <div class="shop-detls-tab-content">#}
{#                                        <div class="shop-detls-into">#}
{#                                            <div class="shop-review-form">#}
{#                                                <h3>Customer Reviews</h3>#}
{#                                                <div class="review-title">#}
{#                                                    <div class="rating">#}
{#                                                        <i class="ri-star-fill"></i>#}
{#                                                        <i class="ri-star-fill"></i>#}
{#                                                        <i class="ri-star-fill"></i>#}
{#                                                        <i class="ri-star-fill"></i>#}
{#                                                        <i class="ri-star-half-fill"></i>#}
{#                                                    </div>#}
{#                                                    <p>Based on 3 reviews</p>#}
{#                                                    <a href="item-details.html" class="default-btn btn-right">Write a Review <span></span></a>#}
{#                                                </div>#}
{#        #}
{#                                                <div class="review-comments">#}
{#                                                    <div class="review-item">#}
{#                                                        <div class="content">#}
{#                                                            <img src="assets/images/products/product-user.jpg" alt="Images">#}
{#                                                            <div class="content-dtls">#}
{#                                                                <h4>Heather Joanne </h4>#}
{#                                                                <span>15 Dec, 2021  AT 06:30 PM</span>#}
{#                                                            </div>#}
{#                                                        </div>#}
{#                                                        <div class="rating">#}
{#                                                            <i class='bx bxs-star'></i>#}
{#                                                            <i class='bx bxs-star'></i>#}
{#                                                            <i class='bx bxs-star'></i>#}
{#                                                            <i class='bx bxs-star'></i>#}
{#                                                            <i class='bx bxs-star-half'></i>#}
{#                                                        </div>#}
{#                                                        <h3>Good</h3>#}
{#                                                        <p>#}
{#                                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit,#}
{#                                                            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.#}
{#                                                            Ut enim ad minim veniam, quis nostrud exercitation.#}
{#                                                        </p>#}
{#                                                        <a href="item-details.html" class="review-report-link">Report as Inappropriate</a>#}
{#                                                    </div>#}
{#        #}
{#                                                    <div class="review-item">#}
{#                                                        <div class="content">#}
{#                                                            <img src="assets/images/products/product-user2.jpg" alt="Images">#}
{#                                                            <div class="content-dtls">#}
{#                                                                <h4>Penelope Rachel</h4>#}
{#                                                                <span>15 Dec, 2021  AT 06:30 PM</span>#}
{#                                                            </div>#}
{#                                                        </div>#}
{#                                                        <div class="rating">#}
{#                                                            <i class='bx bxs-star'></i>#}
{#                                                            <i class='bx bxs-star'></i>#}
{#                                                            <i class='bx bxs-star'></i>#}
{#                                                            <i class='bx bxs-star'></i>#}
{#                                                            <i class='bx bxs-star-half'></i>#}
{#                                                        </div>#}
{#                                                        <h3>Good</h3>#}
{#                                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.</p>#}
{#        #}
{#                                                        <a href="item-details.html" class="review-report-link">Report as Inappropriate</a>#}
{#                                                    </div>#}
{#        #}
{#                                                    <div class="review-item">#}
{#                                                        <div class="content">#}
{#                                                            <img src="assets/images/products/product-user3.jpg" alt="Images">#}
{#                                                            <div class="content-dtls">#}
{#                                                                <h4>Leonard Richard</h4>#}
{#                                                                <span> 15 Dec, 2021  AT 06:30 PM</span>#}
{#                                                            </div>#}
{#                                                        </div>#}
{#                                                        <div class="rating">#}
{#                                                            <i class='bx bxs-star'></i>#}
{#                                                            <i class='bx bxs-star'></i>#}
{#                                                            <i class='bx bxs-star'></i>#}
{#                                                            <i class='bx bxs-star'></i>#}
{#                                                            <i class='bx bxs-star-half'></i>#}
{#                                                        </div>#}
{#                                                        <h3>Good</h3>#}
{#                                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.</p>#}
{#        #}
{#                                                        <a href="item-details.html" class="review-report-link">Report as Inappropriate</a>#}
{#                                                    </div>#}
{#                                                </div>#}
{#        #}
{#                                                <div class="review-form">#}
{#                                                    <div class="contact-wrap-form">#}
{#                                                        <div class="contact-form">#}
{#                                                            <h4>Write a Review</h4>#}
{#                                                            <form id="contactForm">#}
{#                                                                <div class="row">#}
{#                                                                    <div class="col-lg-6 col-sm-6">#}
{#                                                                        <div class="form-group">#}
{#                                                                            <input type="text" name="name" id="name" class="form-control" required data-error="Please enter your name" placeholder="Your Name">#}
{#                                                                        </div>#}
{#                                                                    </div>#}
{#                                    #}
{#                                                                    <div class="col-lg-6 col-sm-6">#}
{#                                                                        <div class="form-group">#}
{#                                                                            <input type="email" name="email" id="email" class="form-control" required data-error="Please enter your email" placeholder="Your Email">#}
{#                                                                        </div>#}
{#                                                                    </div>#}
{#                            #}
{#                                                                    <div class="col-lg-12 col-sm-12">#}
{#                                                                        <div class="form-group">#}
{#                                                                            <input type="text" name="website" class="form-control" required data-error="Your website" placeholder="Your Website">#}
{#                                                                        </div>#}
{#                                                                    </div>#}
{#                                    #}
{#                                                                    <div class="col-lg-12 col-md-12">#}
{#                                                                        <div class="form-group">#}
{#                                                                            <textarea name="message" class="form-control" id="message" cols="30" rows="8" required data-error="Write your message" placeholder="Your Message.."></textarea>#}
{#                                                                        </div>#}
{#                                                                    </div>#}
{#                                    #}
{#                                                                    <div class="col-lg-12 col-md-12">#}
{#                                                                        <button type="submit" class="default-btn">#}
{#                                                                            Post A Comment#}
{#                                                                        </button>#}
{#                                                                    </div>#}
{#                                                                </div>#}
{#                                                            </form>#}
{#                                                        </div>#}
{#                                                    </div>#}
{#                                                </div>#}
{#                                            </div>#}
{#                                        </div>#}
{#                                    </div>#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#        <!-- Shop Details Tab Area End -->#}

{% endblock %}