{% load static %}
<!doctype html>
<html lang="zxx">
<head>
    <!-- Required Meta Tags -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Plugins CSS -->
    <link rel="stylesheet" href="{% static 'css/plugins.css' %}">
    <!-- Icon Plugins CSS -->
    <link rel="stylesheet" href="{% static 'css/iconplugins.css' %}">
    <!-- Style CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}">

    <!-- Title -->
    <title>Sisy - Nail & Beauty Salon</title>

    <!-- Favicon -->
    <link rel="icon" type="image/png" href="{% static 'images/favicon.png' %}">
</head>
<body>

<!-- Top Header -->
<header class="top-header">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-lg-8 col-md-9">
                <div class="header-left">
                    <ul>
                        <li>
                            <i class="flaticon-email"></i>
                            <a href="mailto:sisyeyebrows@gmail.com">sisi.eyebrows@gmail.com</a>
                        </li>
                        <li>
                            <i class="flaticon-telephone"></i>
                            <a href="tel:+34123456789">+34 123 456 789</a>
                        </li>
                        <li>
                            <i class="flaticon-clock"></i>
                            Everyday 7 AM to 7 PM Sunday Off
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-4 col-md-3">
                <div class="header-right">
                    <ul class="social-links">
                        <li>
                            <a href="https://www.facebook.com/" target="_blank">
                                <i class="flaticon-facebook"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://twitter.com/" target="_blank">
                                <i class="flaticon-twitter"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.linkedin.com/" target="_blank">
                                <i class="flaticon-linkedin"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://vimeo.com/" target="_blank">
                                <i class="flaticon-vimeo"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Top Header End -->

<!-- Start Navbar Area -->
<div class="navbar-area naon-area">
    <div class="mobile-responsive-nav">
        <div class="container">
            <div class="mobile-responsive-menu">
                <div class="logo">
                    <a href="{% url 'home' %}">
                        <img src="{% static 'images/logos/logo-small.png' %}" class="logo-one" alt="logo">
                        <img src="{% static 'images/logos/logo-white-small.png' %}" class="logo-two" alt="logo">
                    </a>
                </div>
            </div>
        </div>
    </div>

    <!-- Menu For Desktop Device -->
    <div class="desktop-nav nav-area">
        <div class="container-fluid">
            <nav class="navbar navbar-expand-md navbar-light ">
                <a class="navbar-brand" href="{% url 'home' %}">
                    <img src="{% static 'images/logos/logo-small.png' %}" class="logo-one" alt="Logo">
                    <img src="{% static 'images/logos/logo-white-small.png' %}" class="logo-two" alt="Logo">
                </a>

                <div class="collapse navbar-collapse mean-menu" id="navbarSupportedContent">
                    <ul class="navbar-nav m-auto">
                        <li class="nav-item">
                            <a href="{% url 'home' %}" class="nav-link dropdown-toggle active">
                                User
                            </a>
                            <ul class="dropdown-menu">
                                {% if not user.is_authenticated %}
                                    <li class="nav-item">
                                        <a href="{% url 'login' %}" class="nav-link active">
                                            Login
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="{% url 'register' %}" class="nav-link">
                                            Register
                                        </a>
                                    </li>
                                {% else %}
                                    <li class="nav-item">
                                        <a href="{% url 'profile details' %}" class="nav-link">
                                            Profile
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="{% url 'my account' %}" class="nav-link">
                                            My Account
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="{% url 'logout' %}" class="nav-link">
                                            Logout
                                        </a>
                                    </li>
                                {% endif %}
                            </ul>
                        </li>

                        <li class="nav-item">
                            <a href="{% url 'about' %}" class="nav-link">
                                About Us
                            </a>
                        </li>

                        <li class="nav-item">
                            <a href="#" class="nav-link dropdown-toggle">
                                Pages
                            </a>

                            <ul class="dropdown-menu">
                                <li class="nav-item">
                                    <a href="{% url 'services' %}" class="nav-link">
                                        Services
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="{% url 'faq' %}" class="nav-link">
                                        FAQ
                                    </a>
                                </li>

                                <li class="nav-item">
                                    <a href="{% url 'make_appointment' %}" class="nav-link">
                                        Appointment
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="{% url 'gallery' %}" class="nav-link ">
                                        Gallery
                                        <i class='bx bx-chevron-down'></i>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="{% url 'terms' %}" class="nav-link">
                                        Terms & Conditions
                                    </a>
                                </li>

                                <li class="nav-item">
                                    <a href="{% url 'privacy' %}" class="nav-link">
                                        Privacy Policy
                                    </a>
                                </li>
                            </ul>
                        </li>

                        <li class="nav-item">
                            <a href="{% url 'services' %}" class="nav-link">
                                Services
                            </a>
                        </li>

                        <li class="nav-item">
                            <a href="#" class="nav-link dropdown-toggle">
                                Shop
                            </a>
                            <ul class="dropdown-menu">
                                <li class="nav-item">
                                    <a href="{% url 'shop-home' %}" class="nav-link">Shop</a>
                                </li>
                                <li class="nav-item">
                                    <a href="{% url 'shopping-cart' %}" class="nav-link">Cart</a>
                                </li>
                                <li class="nav-item">
                                    <a href="{% url 'checkout' %}" class="nav-link">Checkout</a>
                                </li>
                            </ul>
                        </li>

                        <li class="nav-item">
                            <a href="#" class="nav-link dropdown-toggle">
                                Blog </a>
                            <ul class="dropdown-menu">
                                <li class="nav-item">
                                    <a href="{% url 'blog_home' %}" class="nav-link">
                                        Blog
                                    </a>
                                </li>

                                <li class="nav-item">
                                    <a href="{% url 'author_posts' author='nrgxtra@hotmail.com' %}" class="nav-link">
                                        Author
                                    </a>
                                </li>

                                <li class="nav-item">
                                    <a href="{% url 'posts_with_tag' tag='style' %}" class="nav-link">
                                        Tags
                                    </a>
                                </li>
                            </ul>
                        </li>

                        <li class="nav-item">
                            <a href="{% url 'contact' %}" class="nav-link">
                                Contact Us
                            </a>
                        </li>
                    </ul>

                    <div class="others-options d-flex align-items-center">
                        <div class="optional-item">
                            <a class="optional-item-cart" href={% url 'shopping-cart' %}>
                                <i class='flaticon-shopping-cart-empty-side-view'></i>
                                <span>{{ cart_items }}</span>
                            </a>
                        </div>
                    </div>

                    <div class="mobile-nav">
                        <div class="mobile-other d-flex align-items-center">
                            <div class="optional-item">
                                <a class="optional-item-cart" href="{% url 'shopping-cart' %}">
                                    <i class='flaticon-shopping-cart-empty-side-view'></i>
                                    <span>{{ cart_items }}</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
    </div>
</div>

<!-- End Navbar Area -->

<!-- Modal Start -->
<div class="modal fade fade-scale searchmodal" id="searchmodal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-bs-dismiss="modal">
                    <i class="ri-close-line"></i>
                </button>
            </div>
            <div class="modal-body">
                <form class="modal-search-form">
                    <input type="search" class="search-field" placeholder="Search...">
                    <button type="submit"><i class="ri-search-line"></i></button>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Modal End -->

{% block content %}

{% endblock %}

<!-- Footer Area -->
<footer class="footer-area footer-bg">
    <div class="container pt-100 pb-70">
        <div class="row">
            <div class="col-lg-4 col-sm-6">
                <div class="footer-widget pe-5">
                    <div class="footer-logo">
                        <a href="{% url 'home' %}">
                            <img src="{% static 'images/logos/logo-small.png' %}" class="footer-logo1" alt="Images">
                        </a>
                        <a href="index.html">
                            <img src="{% static 'images/logos/logo-white-small.png' %}" class="footer-logo2"
                                 alt="Images">
                        </a>
                    </div>
                    <p>
                        You always can make appointment trough contact form, direct call or get in place...
                        <br>
                        Find more about us in social media:
                    </p>
                    <ul class="social-link">
                        <li>
                            <a href="https://www.facebook.com/" target="_blank">
                                <i class="ri-facebook-fill"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://twitter.com/" target="_blank">
                                <i class="ri-twitter-fill"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.linkedin.com/" target="_blank">
                                <i class="ri-linkedin-fill"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://vimeo.com/" target="_blank">
                                <i class="ri-vimeo-fill"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-3 col-sm-6">
                {% if not subscribed_user %}
    <div style="display: flex; justify-content: center; align-items: center">
        <div class="footer-widget pe-2">
            <h3 style="text-align: center">Our Newsletter</h3>
            <form action="{% url 'newsletter signup' %}" method="post">
                {% csrf_token %}
                <div style="text-align: center">
                    {{ user.email }}
                </div>
                <button class="default-btn" type="submit">
                    Subscribe Now <i class="flaticon-paper-plane"></i>
                </button>
            </form>

        </div>
    </div>
    {% endif %}

            </div>

            <div class="col-lg-2 col-sm-6">
                <div class="footer-widget ps-4">
                    <h3>Salon Hours</h3>
                    <ul class="salon-hours">
                        <li>
                            <div class="content">
                                <h3>Monday - Friday</h3>
                                <span>09:00 AM - 10:00 PM </span>
                            </div>
                        </li>
                        <li>
                            <div class="content">
                                <h3>Saturday - Sunday</h3>
                                <span>10:00 AM - 08:00 PM </span>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-3 col-sm-6">
                <div class="footer-widget ps-3">
                    <h3>Get In Touch</h3>
                    <ul class="footer-contact">
                        <li>
                            <i class="flaticon-telephone"></i>
                            <div class="content">
                                <h4>Contact Us</h4>
                                <span><a href="tel:+34123456789" target="_blank">+34 123 456 789</a></span>
                            </div>
                        </li>
                        <li>
                            <i class="flaticon-email"></i>
                            <div class="content">
                                <h4>Email:</h4>
                                <span><a href="mailto:sisi.eyebrows@gmail.com"
                                         target="_blank">sisi.eyebrows@gmail.com</a></span>
                            </div>
                        </li>
                        <li>
                            <i class="flaticon-pin"></i>
                            <div class="content">
                                <h4>Address</h4>
                                <span>19, calle de viejo, Algesiras, Spain</span>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- Footer Area End -->

<!-- Copyright Area -->
<div class="copyright-area">
    <div class="container">
        <div class="copy-right-text text-center">
            <p>
                Copyright @2022 <b>Sisy`s</b> All Rights Reserved

            </p>
        </div>
    </div>
</div>
<!-- Copyright Area End -->


<!-- Jquery Min JS -->
<script src="{% static 'js/jquery.min.js' %}"></script>
<!-- Plugins JS -->
<script src="{% static 'js/plugins.js' %}"></script>
<!-- Custom  JS -->
<script src="{% static 'js/custom.js' %}"></script>
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script>AOS.init();</script>
<script src="{% static 'js/cart.js' %}"></script>
<script>
    var user = '{{ request.user }}'

    function getToken(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

    const csrftoken = getToken('csrftoken');
</script>
</body>
</html>